.git
.github
.vscode
.idea
.settings
.classpath
.project
.factorypath

target

.env
.env.*

*.log
*.tmp

DOCKER_AND_GITHUB_GUIDE.md
GOOGLE_AUTHENTICATION_GUIDE.md
VOICEManual_Testing_Checklist.csv
VOICEManual_Testing_Checklist1.csv
VOICE_Manual_Testing_Checklist.xlsx
VOICE_Project_Test_Strategy.md
