spring:
  application:
    name: WebRegistration

  datasource:
    url: jdbc:mysql://localhost:3306/web_registration?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: tarparakrimy@gmail.com
    password: afpe ztfj lpfc ukud
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

  servlet:
    session:
      timeout: 30m
      cookie:
        http-only: true
        secure: false
        max-age: 30m

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

# Account lockout configuration
account:
  lockout:
    max-attempts: 5 # Maximum failed login attempts before lockout
    duration-minutes: 30 # Lockout duration in minutes
